# Index fun

Taken from [sparkbyexamples.com](https://sparkbyexamples.com/pandas/pandas-index-explained-with-examples/)

In [1]:
import pandas as pd

In [3]:
s=pd.Series(['A','B','C','D','E'])
print(s)

0    A
1    B
2    C
3    D
4    E
dtype: object

In [6]:
idx=['idx1','idx2','idx3','idx4','idx5']
s=pd.Series(['A','B','C','D','E'],index=idx)

In [7]:
print(s)

idx1    A
idx2    B
idx3    C
idx4    D
idx5    E
dtype: object

In [5]:
technologies = [["Spark",2000, "30 Days"],
                ["pandas", 2000, "40 Days"],
                ["Hadoop",2600, "35 Days"]]
df=pd.DataFrame(technologies)
print(df)

        0     1        2
0   Spark  2000  30 Days
1  pandas  2000  40 Days
2  Hadoop  2600  35 Days

In [7]:
column_names=["Courses","Fee","Duration"]
row_label=["a","b","c"]
df=pd.DataFrame(technologies,columns=column_names, index=row_label)
print(df)

  Courses   Fee Duration
a   Spark  2000  30 Days
b  pandas  2000  40 Days
c  Hadoop  2600  35 Days

In [8]:
print(df.index)

Index(['a', 'b', 'c'], dtype='object')

In [10]:
print(df.index.values)

['a' 'b' 'c']

In [11]:
print(df.iloc[2])

Courses      Hadoop
Fee            2600
Duration    35 Days
Name: c, dtype: object

In [12]:
df

  Courses   Fee Duration
a   Spark  2000  30 Days
b  pandas  2000  40 Days
c  Hadoop  2600  35 Days

In [13]:
df2=df.reset_index()
print(df2)

  index Courses   Fee Duration
0     a   Spark  2000  30 Days
1     b  pandas  2000  40 Days
2     c  Hadoop  2600  35 Days

In [14]:
df2=df.set_index('Courses')
print(df2)

          Fee Duration
Courses
Spark    2000  30 Days
pandas   2000  40 Days
Hadoop   2600  35 Days